<h1 class="mt-3 text-center text-white"><%= @student.last_name %>, <%= @student.first_name %>'s<br>Correspondence Notebook</h1>
  <p class="text-center text-white mb-3">Student Number: <%= @student.student_number %></p>
