<div class="container">
  <h1 class="text-center mt-3 text-white">Add a new message for <%= "#{Student.find(params[:student_id]).last_name}, #{Student.find(params[:student_id]).first_name}" %></h1>
  <div class="text-center">
    <%= link_to "Return", student_messages_path, class: "btn btn-primary my-3 px-5" %>
  </div>
  <div class="d-flex justify-content-center text-white">
  <%= render 'form' %>
  </div>

</div>
