// Define variables for your color scheme

// For example:
$red: #F25F5C; //fire opal
$blue: #3F51B5; //from material palette Indigo/Purple combination
$yellow: #FFC65A;
$orange: #E67E22;
$green: #00AF54; //green pantone
$gray: #141204; //black chocolate
$light-gray: #C9C19F; //sage
$dark-electric-blue: #637081;
