<h1>Add a new comment under <strong><%= @message.title %></strong></h1>

<%= render 'form'  %>

<%= link_to "Return to Messages", student_messages_path(@message.student_id), class: "btn btn-primary" %>
