<div class="container mt-3 text-center text-white">
  <h1>Select a student or a class schedule</h1>
  <%= link_to 'Return to Dashboard', dashboards_path, class: "btn btn-primary mb-3" %>
</div>
<%= render 'kurasu_display' %>
