<div class="container mt-3 text-white">
  <h1 class="text-center">Classes list</h1>
</div>
<div>
  <%= render 'kurasu_display' %>
  <%= link_to 'Return to Dashboard', dashboards_path, class: "btn btn-info mx-2" %>
</div>
