<h1>Class <%= @kurasu.name %> Schedule</h1>
<% if @kurasu.schedule %>
  <%= cl_image_tag @kurasu.schedule.photo.key, crop: :fill if @kurasu.schedule.photo.attached? %>
  <%= link_to 'Update Schedule', edit_schedule_path(@kurasu.schedule) , class: "btn btn-primary mb-3" %>
<% else %>
  <%= link_to 'New Schedule', new_kurasu_schedule_path(@kurasu) , class: "btn btn-primary mb-3" %>
<% end %>
