<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner.jpg' %>);">
  <div class="container">
    <div class="wrapper">
      <h1 class="text-center pb-5">renRAKU</h1>
    </div>
  </div>
</div>
