<div class="container center">
  <div class="row">
    <% @events.each do |event| %>
      <div class="card col-sm-12 col-md-5 col-lg-4 m-3">
        <div class="card-body">
          <%= cl_image_tag event.photo.key,
            width: 200, height: 200, crop: :fill %>

          <h5 class="card-title"><%= event.title %></h5>
          <h6 class="card-subtitle my-2"><%= event.date.strftime("%e %b %Y %H:%M") %></h6>
          <p class="card-text"><%= simple_format(event.content) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
