<h1 class="text-center mt-3 text-white">Bulletin Board</h1>
<%= render 'events_card' %>
<div class="container">
  <%= link_to 'Return', dashboards_path, class: "btn btn-$blue"%>
  <%= link_to 'Add Event', new_event_path, class: "btn btn-warning"%>
</div>
