<h1 class="text-center mt-3 text-white">Bulletin Board</h1>
<div class="container mt-3 text-center">
  <%= link_to 'Add Event', new_event_path, class: "btn btn-danger mx-1" if @user.teacher %>
</div>
<div>
<%= render 'events_card' %>
<%= link_to 'Return to Dashboard', dashboards_path, class: "btn btn-info mx-2" %>
</div>
