<div class="text-center text-white mt-4">
  <h2>WHAT IS renRAKU?</h2>
  <p>Discover what renRAKU can do for you</p>
</div>
<div class="container d-flex justify-content-even mt-5">
  <div class="homepage-cards">
  <figure class="snip0016">
    <img src="<%= image_path 'dashboard/bulletinboard.jpg' %>"/>
    <figcaption>
      <h2>Displaying of school events</h2>
    </figcaption>
  </figure>
  <figure class="snip0016">
    <img src="<%= image_path 'dashboard/notebook.jpg' %>"/>
    <figcaption>
      <h2>Easy exchange between parents and teachers</h2>
    </figcaption>
  </figure>
  <figure class="snip0016">
    <img src="<%= image_path 'dashboard/meeting.jpg' %>"/>
    <figcaption>
      <h2>Scheduling school meetings</h2>
    </figcaption>
  </figure>
  <figure class="snip0016">
    <img src="<%= image_path 'dashboard/schedule.jpg' %>"/>
    <figcaption>
      <h2>Seamless class scheduling</h2>
    </figcaption>
  </figure>
  </div>
</div>
