<%= render 'shared/banner' %>
<h2 class="text-center text-white mb-5 mt-5">Hello</h2>
<section class="container-fluid mx-0 px-0 d-flex">
  <div class="flex-column justify-content-center bg-white left-half" style="flex: 1;">
    <article>
      <h1>Left Half</h1>
      <p>Weekends don't count unless you spend them doing something completely pointless.</p>
    </article>
  </div>
  <div class="flex-column justify-content-center bg-white right-half" style="flex: 1;">
    <article>
      <h1>Right Half</h1>
      <p>If your knees aren't green by the end of the day, you ought to seriously re-examine your life.</p>
    </article>
  </div>
</section>
<%= render 'intro_block' %>
<style>
  .left-half {
    height: 500px;
  }
  @media (max-width: 600px) {
    .container-fluid {
      flex-direction: column;
    }
  }
</style>
