<%= render 'shared/banner' %>
<div class="container d-flex justify-content-even mt-5">
<div class="homepage-cards">
<figure class="snip0016">
	<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample41.jpg" alt="sample41"/>
	<figcaption>
		<h2>Know about the latest events</h2>
	</figcaption>
</figure>
<figure class="snip0016">
	<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample42.jpg" alt="sample42"/>
	<figcaption>
		<h2>Exchange with parents or teachers</h2>
	</figcaption>
</figure>
<figure class="snip0016">
	<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample43.jpg" alt="sample43"/>
	<figcaption>
		<h2>Schedule meetings at the school</h2>
	</figcaption>
</figure>
<figure class="snip0016">
	<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample43.jpg" alt="sample43"/>
	<figcaption>
		<h2>Consult the weekly schedules</h2>
	</figcaption>
</figure>
</div>
<div class="container" style="margin: 200px"></div>
</div>
