  <p class="text-center text-white"><%= current_user.name.capitalize %>, welcome to your
  <% if current_user.teacher %>
    teacher
  <% else %>
    parent
  <% end %>
  interface. Below are the actions you can perform</p>
