<h1 class="text-center mt-3 text-white">Dashboard</h1>
  <%= render 'welcome_message' %>
<% if current_user.teacher  %>
  <%= render 'teacher_cards' %>
<% else %>
  <%= render 'parent_cards' %>
<% end %>
