.banner {
  background-size: cover;
  background-position: center;
  padding: 230px 0;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.wrapper {
	text-align: center;
	h1 {
		color: #fff;
		font-size: 112px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
		font-weight: 700;
		background: linear-gradient(to right,$red 10%, #eb4c49 50%, #f16f6c 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 10s linear infinite;
		display: inline-block;
	}
}
@media (min-width: 100px) and (max-width: 575px) {
  .wrapper {
    h1 {
      font-size: 60px;
    }
  }
}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
