$light-blue: lighten($dark-electric-blue, 5%);

.card {
  border-radius: 8px;
  box-shadow: -4px -4px 0px 2px $light-blue, 4px 4px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: rgb(243, 243, 243);
  h5 {
    border-bottom: 4px solid $red;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
  }
  h6 {
    color: $gray;
    text-align: right;
  }
  &:hover {
    box-shadow: 4px 4px 2px 2px $light-blue, -4px -4px 0px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.5s 0s ease;
    cursor: pointer;
  }
}

// For the dashboard cards
// $base-duration: 500ms;

// Colors
$color-1: #2c3e50;
$color-2: #1abc9c;
$color-3: #2ecc71;

// Breakpoints
$sm: new-breakpoint(min-width 320px);
$med: new-breakpoint(min-width 768px);
$lg: new-breakpoint(min-width 1024px);

figure {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 375px;
	height: 450px;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	&:hover {
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		img {
			transform: scale(1.25);
		}
		figcaption {
			bottom: 0;
		}
	}
	h1 {
		position: absolute;
    text-shadow: 4px 4px 8px $color-1;
		top: 50px;
		left: 20px;
		margin: 0;
		padding: 0;
		color: white;
		font-size: 60px;
		font-weight: 100;
		line-height: 1;
	}
	img {
		height: 100%;
    width: 100%;
		transition: 0.25s;
    object-fit: cover;
	}
	figcaption {
		position: absolute;
		bottom: -33%;
		left: 0;
		width: 100%;
		//height: 50%;
		margin: 0;
		padding: 30px;
		background-color: rgba(black,0.85);
		box-shadow: 0 0 20px rgba(black,0.4);
		color: white;
		line-height: 1;
		transition: 0.25s;
		h3 {
			margin: 0 0 20px;
			padding: 0;
		}
		p {
			font-size: 14px;
			line-height: 1.75;
		}
	}
}
// Cards with photo
.classes {
  padding: 8px;
  background-color: $light-gray;
  margin-left: 4px;
  margin-right: 4px;
  color: white;
  border-radius: 8px;
}
.event-card,
.pizza-box {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.pizza-box {
	flex: 3 1 30ch;
	height: calc(282px + 5vw);
	overflow: hidden;

	img {
		max-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		object-fit: cover;
		object-position: 50% 50%;
	}
}

.event-card {
	border: 2px solid $dark-electric-blue;
  position: relative;
	border-radius: 8px;
	overflow: hidden;
  background-color: white;
  box-shadow: -4px -4px 0px 2px $light-blue, 4px 4px 2px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 4px 4px 2px 2px $light-blue, -4px -4px 0px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.5s 0s ease;
    border: 2px solid $light-gray;
  }

	&-content {
		padding: 16px 32px;
		flex: 4 1 40ch;
	}

	&-tags {
		margin: 0 -8px;
	}

	&-tag {
		display: inline-block;
		margin: 8px;
		font-size: .875em;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: .02em;
		color: $red;
	}

	&-title {
		margin: 0;
		font-size: clamp(1.4em, 2.1vw, 2.1em);
		font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
    border-bottom: 4px solid $red;
    margin-right: 55%;

		a {
			text-decoration: none;
			color: inherit;
		}
	}

	&-classes {
		display: flex;
		align-items: center;
		padding: 6px 14px 6px 12px;
		background: none;
		font-weight: bold;
    margin-bottom: 8px;

		svg {
			margin-right: 6px;
		}
	}
}
// Will put the "see classes" button on top right corner of the card
#see-classes {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  background-color: $blue;
  color: white;
  text-decoration: none;
  border-end-start-radius: 8px;
  &:hover {
    background-color: lighten($blue, 5%);
  }
}
// For the category cards on the homepage
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  // font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
    p {
      font-weight: lighter;
    }
}

// For class cards
#class-card {
  background-color: $blue;
  position: relative;
  background-image: url(image-path('kurasu/classroomtables.jpg'));
  text-align: center;
  text-shadow: 2px 2px 4px black;
  cursor: default;
  border-radius: 0px;
  box-shadow: 2px 2px 4px lighten($dark-electric-blue, 10%);
  border: none;
  p {
    font-size: 2em;
    color: white;
  }
  @media (max-width: 756px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.schedule-button {
  background-color: rgb(235,235,235);
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 8px 16px;
  text-shadow: none;
  border-end-start-radius: 8px;
  &:hover {
    text-decoration: none;
    color: rgb(60, 60, 60);
    top: -2px;
    box-shadow: 2px 2px 4px rgba($color: black, $alpha: 0.5);
  }
}
.meeting-button {
  background-color: rgb(235,235,235);
  color: black;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  padding: 8px 16px;
  text-shadow: none;
  border-start-start-radius: 8px;
  &:hover {
    text-decoration: none;
    color: rgb(60, 60, 60);
    bottom: -2px;
    box-shadow: 2px 2px 4px rgba($color: black, $alpha: 0.5);
  }
}
.student-button {
  background-color: rgb(235,235,235);
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 8px 16px;
  text-shadow: none;
  border-start-end-radius: 8px;
  &:hover {
    text-decoration: none;
    color: rgb(60, 60, 60);
    bottom: -2px;
    box-shadow: 2px 2px 4px rgba($color: black, $alpha: 0.5);
  }
}
// For student cards
#student-card {
  box-shadow: 0 0 0;
  border-radius: 8px 0 8px 0;
  // border-right: 1px solid $light-gray;
  text-align: right;
  font-size: large;
  position: relative;
  background: linear-gradient(to left, rgb(231, 230, 230) 35%,white 15%);
  &:hover {
    box-shadow: -2px 0px 4px rgba($color: black, $alpha: 0.6);
    background-color: rgba($color: white, $alpha: 1.0);
    cursor: default;
  }
  p {
    margin-bottom: 0px;
  }
}
.notebook-button {
  position: absolute;
  bottom: 15px;
  right: 70px;
  flex-grow: 1;
  z-index: 99;
}
.grades-button {
  position: absolute;
  bottom: 15px;
  right: 25px;
  flex-grow: 1;
  z-index: 99;
}
.notebook-button img, .grades-button img {
  max-width: 35px;
}
#student-number {
  color: white;
  position: absolute;
  bottom: 50px;
  right: -12px;
  margin-right: 4px;
  padding-right: 13px;
  padding-left: 13px;
  background-color: $red;
  border-radius: 50%;
  font-size: x-large;
}
// For the animated cards on the homepage
.page-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.data-card {
  display: flex;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: .5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  transition: transform .45s ease, background .45s ease;

  h3 {
    color: #2E3C40;
    font-size: 2.4em;
    font-weight: 400;
    font: $body-font;
    line-height: 1;
    padding-bottom: .5em;
    margin: 0 0 0.142857143em;
    border-bottom: 2px solid $red;
    transition: color .45s ease, border .45s ease;
  }

  h4 {
    color: #627084;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color .45s ease;
  }

  p {
    opacity: 0;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity .45s ease, transform .5s ease;
  }

  .link-text {
    display: block;
    color: $red;
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color .45s ease;

    svg {
      margin-left: .5em;
      transition: transform .6s ease;

      path {
        transition: fill .45s ease;
      }
    }
  }

  &:hover {
    background: $light-gray;
    transform: scale(1.02);
    text-decoration: none;

    h3 {
      color: #FFFFFF;
      border-bottom-color: $red;
    }

    h4 {
      color: #FFFFFF;
    }

    p {
      opacity: 1;
      transform: none;
    }

    .link-text {
      color: #FFFFFF;

      svg {
        animation: point 1.25s infinite alternate;

        path {
          fill: #FFFFFF;
        }
      }
    }
  }
}

@keyframes point {
  0% {
   transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}
// For the teacher comments
#teacher-comment {
  box-shadow: none;
  margin-right: 200px;
  border-left: 4px solid $red;
  border-right: 4px solid $red;
  &:hover {
    cursor: default;
  }
  em {
    color: rgba(100, 100, 100, 0.5)
  }
  @media (max-width: 800px) {
    margin-right: 35px;
  }
}
// For the parents comments
#parents-comment {
  box-shadow: none;
  margin-left: 200px;
  border-left: 4px solid $blue;
  border-right: 4px solid $blue;
  &:hover {
    cursor: default;
  }
  em {
    color: rgba(100, 100, 100, 0.5)
  }
  @media (max-width: 800px) {
    margin-left: 35px;
  }
}
// For the teacher/parents comments form
.comment-form {
  background-color: lighten($red, 25%);
  color: black;
}

// For the message cards
#message-card {
 box-shadow: none;
 position: relative;
 min-height: 200px;
 border-radius: 0 8px 8px 0;
 border-left: 2px solid black;
 cursor: default;
 em {
   color: white;
   position: absolute;
   top: -1px;
   right: -1px;
   padding: 8px;
   background-color: $gray;
   border-radius: 0 8px 0 8px;
   border-top: 1px solid black;
 }
 h5 {
   border-bottom: 2px solid $red;
   padding-right: 25px;
 }
 @media (max-width: 800px) {
   border-radius: 8px;
   border-left: none;
  }
  @media (max-width: 1200px) {
    h5 {
      margin-top: 32px;
    }
 }
 @media (min-width: 1000px) {
   margin-right: 200px;
 }
}
.message-img {
  border-radius: 8px 0 0 8px;
  @media (max-width: 800px) {
    display: none;
  }
}
// For the profile card on the dashboard
#dashboard-profile {
  background-color: $light-gray;
  color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 15px;
  margin-top: 8px;
  padding: 16px;
  margin-right: 8px;
  width: 300px;
  border-radius: 8px;
  @media (max-width: 1110px) {
    margin-right: auto;
    margin-left: auto;
    width: 350px;
  }
}
.dashboard-layout {
  position: relative;
  @media (max-width: 1110px) {
    flex-direction: column;
  }
}
.time {
  position: absolute;
  border: 1px solid white;
  border-top: none;
  border-right: none;
  top: -10px;
  right: -10px;
  background-color: lighten($light-gray, 5%);
  padding: 4px;
  border-radius: 4px;
  color: white;
}
// For the meeting cards
.timeslot {
  background-color: $dark-electric-blue;
  width: 150px;
  color: white;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba($color: black, $alpha: 0.5);
  border: 2px groove lighten($color: $dark-electric-blue, $amount: 15%);
  h5 {
    padding-top: 15px;
  }
}
#meeting-day {
  background-color: $light-gray;
  color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 2px 2px 4px rgba($color: black, $alpha: 0.7);
}
.message-card {
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba($color: black, $alpha: 0.7);
  @media (max-width: 570px) {
    margin-left: 16px;
    margin-right: 16px;
    width: auto;
  }
}
@media (max-width: 600px) {
  .timeslots {
    flex-direction: column !important;
    align-self: center;
  }
}
// On the parents side, the timeslots for the meeting are simple form, so they need their own styling
.edit_meeting .timeslot {
  @media (max-width: 990px) {
    width: 100px;
  }
  @media (max-width: 768px) {
    width: 75px;
  }
  @media (max-width: 600px) {
    width: 150px;
  }
}
