.footer {
  background: $light-gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  font-style: $body-font;
  font-size: medium;
}
.footer-copyright {
  color: white;
}
// This will make the footer sticky
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px; /* Vertically center the text there */
}
@media (max-width: 576px) {
  .footer-links a {
  font-size: 12px;
  }
  .footer-copyright {
    font-size: 12px;
  }
}
