#new_event, .edit_event, #new_message, #new_comment {
  background-color: rgb(240, 240, 240);
  color: black;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}
// To style the rich-text icon bar
trix-toolbar .trix-button-row {
  background-color: rgb(240, 240, 240);
  margin-bottom: 12px;
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
}
.trix-content *, .trix-content {
  color: black;
}
// To style the date picker
.flatpickr-months .flatpickr-month {
    background: $light-gray !important;
    color: white !important;
}
.flatpickr-weekdays {
    background: $light-gray !important;
}
span.flatpickr-weekday {
    color: white !important;
}
.flatpickr-months .flatpickr-prev-month svg, .flatpickr-months .flatpickr-next-month svg {
    fill: white !important;
}

// Displays the buttons inline
.tag-item {
  display: inline-block;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}


.flexContainer {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
  padding: 5px;
  flex: 1 1 25%;
}
/*
.tag-selector + label {
  // cursor: pointer;
  // display: inline-block;
  // font-size: 13px;
  // border-radius: 50rem;
  // padding: 0.1rem 0.5rem;
  // background-color: #ECEAFF;
  // color: $blue;
  // border: 1px solid $blue;
  // margin-right: 0.6rem;
  // margin-bottom: 0.4rem;
  border:1px solid #7a89e0;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  font-size:13px;
  padding: 10px 20px 10px 20px;
  text-decoration:none;
  display:inline-block;
  // text-shadow: 2px 2px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: $blue;
  background-image: -webkit-gradient(linear, left top, left bottom, from($blue), to(#b3bcf3));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7a89e0), to(#222f7c));
  background-image: -webkit-linear-gradient(top, #7a89e0, #222f7c);
  background-image: -moz-linear-gradient(top, #7a89e0, #222f7c);
  background-image: -ms-linear-gradient(top, #7a89e0, #222f7c);
  background-image: -o-linear-gradient(top, #7a89e0, #222f7c);
  background-image: linear-gradient(to bottom, #7a89e0, #222f7c);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=$blue, endColorstr=#b3bcf3);
  &:hover{
    // background-color: #cbc6fc;
    border:1px solid #7a89e0;
    background-color: #7a89e0;
    background-image: -webkit-gradient(linear, left top, left bottom, from($blue), to(#b3bcf3));
    background-image: -webkit-linear-gradient(top, #344294, #222f7c);
    background-image: -moz-linear-gradient(top, #344294, #222f7c);
    background-image: -ms-linear-gradient(top, #344294, #222f7c);
    background-image: -o-linear-gradient(top, #344294, #222f7c);
    background-image: linear-gradient(to bottom, #344294, #222f7c);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7a89e0, endColorstr=#222f7c);
  }
}

.tag-selector:checked + label {
  // background-color: $blue;
  // color: white;
  border:1px solid #7a89e0;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  font-size:13px;
  padding: 10px 20px 10px 20px;
  text-decoration:none;
  display:inline-block;
  // text-shadow: 2px 2px 0 rgba(0,0,0,0.3);
  font-weight:bold; color: #FFFFFF;
  // background-color: #175170;
  background-image: -webkit-gradient(linear, left top, left bottom, from($blue), to(#b3bcf3));
  background-image: -webkit-linear-gradient(top, #321558, #593896);
  background-image: -moz-linear-gradient(top, #321558, #593896);
  background-image: -ms-linear-gradient(top, #321558, #593896);
  background-image: -o-linear-gradient(top, #321558, #593896);
  background-image: linear-gradient(to bottom, #321558, #593896);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=$blue, endColorstr=#b3bcf3);
}
*/
.tag-selector + label {
  background-color: rgb(170, 182, 181);
  color: $dark-electric-blue;
  padding: 10px 20px 10px 20px;
  box-shadow: 2px 2px 2px 2px $light-blue, -2px -2px 0px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.5s 0s ease;
  border-radius: 8px;
}
.tag-selector:checked + label {
  background-color: $green;
  color: white;
  padding: 10px 20px 10px 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.5s 0s ease;
}
