.navbar-lewagon {
  justify-content: space-between;
  background: $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.fa-school {
  font-size: 32px;
  color: $dark-electric-blue;
  &:hover {
    color: lighten($dark-electric-blue, 20%);;
  }
}
.fa-users {
  font-size: 32px;
  color: $red;
  &:hover {
    color: lighten($red, 20%);;
  }
}
.fa-cogs {
  font-size: 30px;
  color: $dark-electric-blue;
  &:hover {
    cursor: pointer;
    color: lighten($dark-electric-blue, 20%);
  }
}
.dropdown {
  @media (max-width: 576px) {
   margin-top: 12px;
  }
}
