.notification-buttons {
  position: relative;
}
.notification-pill {
  position: absolute;
  top: -10px;
  left: 155px;
  background-color: $light-gray;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
}
